<!DOCTYPE html>
<html>
<head>
    <title>StegoSecure Image System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>StegoSecure Image System</h1>
        <p>
            Aplikasi untuk menyembunyikan pesan rahasia ke dalam citra digital
            menggunakan Vigenere Cipher dan Adaptive Edge-Based LSB.
        </p>

        <a href="/encode" class="button">Encode Pesan</a>
        <a href="/decode" class="button">Decode Pesan</a>
    </div>
</body>
</html>